#contact {
  background-color: white;
  padding-bottom: 40px; }
  #contact #contact-wrapper {
    display: flex;
    flex-flow: row wrap; }
    #contact #contact-wrapper .contact-form, #contact #contact-wrapper .contact-information {
      flex: 0 0 50% !important; }
      @media only screen and (max-width: 768px) {
        #contact #contact-wrapper .contact-form, #contact #contact-wrapper .contact-information {
          flex: 0 0 100% !important; } }
      #contact #contact-wrapper .contact-form .form-wrapper, #contact #contact-wrapper .contact-information .form-wrapper {
        width: 60%;
        margin: 0 auto; }
        #contact #contact-wrapper .contact-form .form-wrapper .name, #contact #contact-wrapper .contact-information .form-wrapper .name {
          color: #212121;
          font-size: 28px;
          font-weight: 600;
          font-family: "Muli", sans-serif;
          margin: 0 auto;
          width: max-content;
          padding-bottom: 20px; }
        #contact #contact-wrapper .contact-form .form-wrapper .info, #contact #contact-wrapper .contact-information .form-wrapper .info {
          display: flex; }
          #contact #contact-wrapper .contact-form .form-wrapper .info .text, #contact #contact-wrapper .contact-information .form-wrapper .info .text {
            height: max-content;
            position: relative;
            left: 10px;
            top: 12px;
            font-size: 17px; }
          #contact #contact-wrapper .contact-form .form-wrapper .info .icon, #contact #contact-wrapper .contact-information .form-wrapper .info .icon {
            width: 50px;
            height: 50px;
            background-color: #e4173e;
            border-radius: 50%;
            margin-bottom: 10px; }
            #contact #contact-wrapper .contact-form .form-wrapper .info .icon i, #contact #contact-wrapper .contact-information .form-wrapper .info .icon i {
              position: relative;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: white; }
        @media only screen and (max-width: 768px) {
          #contact #contact-wrapper .contact-form .form-wrapper, #contact #contact-wrapper .contact-information .form-wrapper {
            width: 70%; } }
        #contact #contact-wrapper .contact-form .form-wrapper form, #contact #contact-wrapper .contact-information .form-wrapper form {
          margin: 0 auto; }
          #contact #contact-wrapper .contact-form .form-wrapper form .form-element, #contact #contact-wrapper .contact-information .form-wrapper form .form-element {
            position: relative; }
            #contact #contact-wrapper .contact-form .form-wrapper form .form-element .label, #contact #contact-wrapper .contact-information .form-wrapper form .form-element .label {
              color: black;
              font-size: 15px;
              position: relative;
              top: 7px;
              bottom: initial;
              left: 10;
              right: initial;
              padding: 0;
              background-color: white; }
            #contact #contact-wrapper .contact-form .form-wrapper form .form-element input, #contact #contact-wrapper .contact-form .form-wrapper form .form-element textarea, #contact #contact-wrapper .contact-form .form-wrapper form .form-element button, #contact #contact-wrapper .contact-information .form-wrapper form .form-element input, #contact #contact-wrapper .contact-information .form-wrapper form .form-element textarea, #contact #contact-wrapper .contact-information .form-wrapper form .form-element button {
              margin: 0 auto;
              width: 100%;
              margin-bottom: 20px;
              padding: 10px 10px;
              border: none;
              border: solid;
              border-radius: 0;
              border-color: #e4173e;
              border-width: 1px; }
              #contact #contact-wrapper .contact-form .form-wrapper form .form-element input:focus, #contact #contact-wrapper .contact-form .form-wrapper form .form-element textarea:focus, #contact #contact-wrapper .contact-form .form-wrapper form .form-element button:focus, #contact #contact-wrapper .contact-information .form-wrapper form .form-element input:focus, #contact #contact-wrapper .contact-information .form-wrapper form .form-element textarea:focus, #contact #contact-wrapper .contact-information .form-wrapper form .form-element button:focus {
                outline: none; }
            #contact #contact-wrapper .contact-form .form-wrapper form .form-element:focus-within:after, #contact #contact-wrapper .contact-information .form-wrapper form .form-element:focus-within:after {
              content: '';
              width: 99.9%;
              border: solid;
              border-radius: 0;
              border-color: #e4173e;
              border-width: 1px;
              position: absolute;
              bottom: 20;
              left: 50%;
              transform: translateX(-50%);
              animation-name: "showoutline";
              animation-duration: 0.4s; }
          #contact #contact-wrapper .contact-form .form-wrapper form button, #contact #contact-wrapper .contact-information .form-wrapper form button {
            width: 100%;
            border: none;
            padding: 20px;
            background-color: white;
            color: #e4173e;
            font-size: 24px;
            font-weight: 700;
            font-family: "Muli", sans-serif; }
    @media only screen and (max-width: 768px) {
      #contact #contact-wrapper .contact-information {
        border-top: 1px solid #e4173e; } }
