#contact {
  background-image: url("../../images/about-bcg.png");
  background-color: 255, 255, 255, 0.1; }
  #contact #contact-wrapper {
    display: flex;
    flex-flow: row wrap; }
    #contact #contact-wrapper .contact-form, #contact #contact-wrapper .contact-information {
      position: relative;
      flex: 0 0 50% !important; }
      @media only screen and (max-width: 768px) {
        #contact #contact-wrapper .contact-form, #contact #contact-wrapper .contact-information {
          flex: 0 0 100% !important; } }
      #contact #contact-wrapper .contact-form .form-wrapper, #contact #contact-wrapper .contact-information .form-wrapper {
        width: 60%;
        margin: 0 auto; }
        #contact #contact-wrapper .contact-form .form-wrapper .name, #contact #contact-wrapper .contact-information .form-wrapper .name {
          color: #212121;
          font-size: 28px;
          font-weight: 600;
          font-family: "Muli", sans-serif;
          margin: 0 auto;
          width: max-content;
          padding-bottom: 10px; }
        #contact #contact-wrapper .contact-form .form-wrapper .info, #contact #contact-wrapper .contact-information .form-wrapper .info {
          display: flex;
          flex-flow: row wrap; }
          #contact #contact-wrapper .contact-form .form-wrapper .info .phone, #contact #contact-wrapper .contact-form .form-wrapper .info .mail, #contact #contact-wrapper .contact-information .form-wrapper .info .phone, #contact #contact-wrapper .contact-information .form-wrapper .info .mail {
            color: #212121;
            font-size: 17px;
            font-weight: 600;
            flex: 0 0 100%; }
            @media only screen and (max-width: 768px) {
              #contact #contact-wrapper .contact-form .form-wrapper .info .phone, #contact #contact-wrapper .contact-form .form-wrapper .info .mail, #contact #contact-wrapper .contact-information .form-wrapper .info .phone, #contact #contact-wrapper .contact-information .form-wrapper .info .mail {
                font-size: 14px; } }
            #contact #contact-wrapper .contact-form .form-wrapper .info .phone i, #contact #contact-wrapper .contact-form .form-wrapper .info .mail i, #contact #contact-wrapper .contact-information .form-wrapper .info .phone i, #contact #contact-wrapper .contact-information .form-wrapper .info .mail i {
              margin-right: 10px;
              padding: 10px;
              font-size: 20px;
              border-right: solid 1px #e4173e; }
          #contact #contact-wrapper .contact-form .form-wrapper .info a, #contact #contact-wrapper .contact-information .form-wrapper .info a {
            position: relative;
            margin-bottom: 15px;
            flex: 0 0 33.33%;
            height: 80px;
            transition: 0.2s; }
            #contact #contact-wrapper .contact-form .form-wrapper .info a .mediax, #contact #contact-wrapper .contact-information .form-wrapper .info a .mediax {
              height: 80px; }
              #contact #contact-wrapper .contact-form .form-wrapper .info a .mediax i, #contact #contact-wrapper .contact-information .form-wrapper .info a .mediax i {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 40px;
                z-index: 999; }
              #contact #contact-wrapper .contact-form .form-wrapper .info a .mediax:hover, #contact #contact-wrapper .contact-information .form-wrapper .info a .mediax:hover {
                color: white !important; }
              #contact #contact-wrapper .contact-form .form-wrapper .info a .mediax:not(:hover), #contact #contact-wrapper .contact-information .form-wrapper .info a .mediax:not(:hover) {
                color: inherit; }
          #contact #contact-wrapper .contact-form .form-wrapper .info:last-child, #contact #contact-wrapper .contact-information .form-wrapper .info:last-child {
            padding-bottom: 20px; }
        @media only screen and (max-width: 768px) {
          #contact #contact-wrapper .contact-form .form-wrapper, #contact #contact-wrapper .contact-information .form-wrapper {
            width: 70%; } }
        #contact #contact-wrapper .contact-form .form-wrapper form, #contact #contact-wrapper .contact-information .form-wrapper form {
          margin: 0 auto; }
          #contact #contact-wrapper .contact-form .form-wrapper form .form-element, #contact #contact-wrapper .contact-information .form-wrapper form .form-element {
            position: relative; }
            #contact #contact-wrapper .contact-form .form-wrapper form .form-element .label, #contact #contact-wrapper .contact-information .form-wrapper form .form-element .label {
              color: #e4173e;
              font-size: 15px;
              position: relative;
              top: 7px;
              bottom: initial;
              left: 10;
              right: initial;
              padding: 0;
              background-color: white; }
            #contact #contact-wrapper .contact-form .form-wrapper form .form-element input, #contact #contact-wrapper .contact-form .form-wrapper form .form-element textarea, #contact #contact-wrapper .contact-form .form-wrapper form .form-element button, #contact #contact-wrapper .contact-information .form-wrapper form .form-element input, #contact #contact-wrapper .contact-information .form-wrapper form .form-element textarea, #contact #contact-wrapper .contact-information .form-wrapper form .form-element button {
              margin: 0 auto;
              width: 100%;
              margin-bottom: 20px;
              padding: 10px 10px;
              border: none;
              border: solid;
              border-radius: 0;
              border-color: #212121;
              border-width: 1px; }
              #contact #contact-wrapper .contact-form .form-wrapper form .form-element input:focus, #contact #contact-wrapper .contact-form .form-wrapper form .form-element textarea:focus, #contact #contact-wrapper .contact-form .form-wrapper form .form-element button:focus, #contact #contact-wrapper .contact-information .form-wrapper form .form-element input:focus, #contact #contact-wrapper .contact-information .form-wrapper form .form-element textarea:focus, #contact #contact-wrapper .contact-information .form-wrapper form .form-element button:focus {
                outline: none; }
            #contact #contact-wrapper .contact-form .form-wrapper form .form-element textarea, #contact #contact-wrapper .contact-information .form-wrapper form .form-element textarea {
              resize: none; }
          #contact #contact-wrapper .contact-form .form-wrapper form button, #contact #contact-wrapper .contact-information .form-wrapper form button {
            width: 100%;
            border: none;
            padding: 20px;
            margin-bottom: 20px;
            background-color: white;
            color: #e4173e;
            font-size: 24px;
            font-weight: 700;
            font-family: "Muli", sans-serif; }
