body {
  margin: 0 auto;
  font-family: "Muli", sans-serif !important; }

.title {
  color: #e4173e;
  font-size: 52;
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
  padding: 40px 40px;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .title {
      font-size: xx-large; } }

.section-header {
  color: #212121;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
  padding: 40px 40px;
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  width: 100%; }

.white {
  color: white; }

.bold {
  font-weight: 600; }

.separator {
  border: solid red 1px;
  transform: rotate(15deg);
  margin-left: 20px; }
  @media only screen and (max-width: 768px) {
    .separator {
      display: none; } }
