body {
  margin: 0 auto;
  font-family: "Muli", sans-serif !important; }

.title {
  color: #e4173e;
  font-size: 52;
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
  padding: 40px 40px;
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .title {
      font-size: xx-large; } }

.section-header {
  color: #212121;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
  padding: 40px 40px;
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  width: 100%; }

.white {
  color: white; }

.bold {
  font-weight: 600; }

.separator {
  border: solid red 1px;
  transform: rotate(15deg);
  margin-left: 20px; }
  @media only screen and (max-width: 768px) {
    .separator {
      display: none; } }

.input-outline {
  position: absolute;
  bottom: 20px;
  width: 0%;
  height: 1px;
  background-color: #e4173e;
  z-index: 999; }

.background-oly {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3%; }

.warning-message {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: #da2000;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%); }

.correct-label {
  position: absolute;
  top: 10;
  right: -40; }
  .correct-label i {
    font-size: 0px;
    color: #2fd64d; }
