body {
  margin: 0 auto;
  font-family: "Muli", sans-serif !important; }

.title {
  color: #e4173e;
  font-size: 52;
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
  padding: 40px 40px;
  width: 100%; }

.section-header {
  color: #212121;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 300;
  text-align: center;
  padding: 40px 40px;
  width: 100%; }
