#projects {
  background-color: #212121; }
  @media only screen and (max-width: 768px) {
    #projects .title {
      font-size: xx-large; } }
  #projects #projects-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap; }
    #projects #projects-wrapper .project-small {
      flex: 0 0 33.333%;
      height: 23vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      @media only screen and (max-width: 768px) {
        #projects #projects-wrapper .project-small {
          flex: 0 0 100% !important;
          height: 50vw; } }
      #projects #projects-wrapper .project-small .info-overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.8); }
        #projects #projects-wrapper .project-small .info-overlay div {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: white;
          font-size: 22px; }
          @media only screen and (max-width: 768px) {
            #projects #projects-wrapper .project-small .info-overlay div {
              font-size: 16px; } }
        #projects #projects-wrapper .project-small .info-overlay i {
          color: white;
          position: absolute;
          bottom: 5;
          right: 5;
          font-size: 36px; }
          @media only screen and (max-width: 768px) {
            #projects #projects-wrapper .project-small .info-overlay i {
              font-size: 28px; } }
      #projects #projects-wrapper .project-small.first {
        background-image: url("../../images/easyshopping.png");
        flex: 0 0 66.666%; }
      #projects #projects-wrapper .project-small.second {
        background-image: url("../../images/onlywins.png"); }
      #projects #projects-wrapper .project-small.third {
        background-image: url("../../images/eat24.png"); }
      #projects #projects-wrapper .project-small.fourth {
        background-image: url("../../images/mwatr.png"); }
      #projects #projects-wrapper .project-small.fifth {
        background-image: url("../../images/portfolio.png"); }
