#projects {
  padding-bottom: 132px;
  position: relative;
  background-color: #f1574d; }
  #projects .projects-info {
    position: absolute;
    top: 115px;
    right: 40px;
    max-width: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    z-index: 999;
    color: white;
    display: none; }
  #projects .fa-info-circle {
    position: absolute;
    font-size: 60px;
    margin: 47px;
    color: white;
    right: 0; }
    @media only screen and (max-width: 768px) {
      #projects .fa-info-circle {
        font-size: 35px;
        margin: 47px 15px; } }
  @media only screen and (max-width: 768px) {
    #projects .title {
      font-size: xx-large; } }
  #projects #projects-wrapper .project-small {
    margin: 15px 0px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    #projects #projects-wrapper .project-small .info-overlay {
      overflow: hidden;
      position: relative;
      width: 0%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8); }
      #projects #projects-wrapper .project-small .info-overlay div {
        width: 80%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-size: 22px; }
        @media only screen and (max-width: 768px) {
          #projects #projects-wrapper .project-small .info-overlay div {
            font-size: 16px; } }
      #projects #projects-wrapper .project-small .info-overlay i {
        color: #f1574d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 62px;
        transform: translate(-50%, -50%) rotate(-30deg); }
        @media only screen and (max-width: 768px) {
          #projects #projects-wrapper .project-small .info-overlay i {
            font-size: 28px; } }
    #projects #projects-wrapper .project-small:nth-child(2) {
      flex: 0 0 66.6666%; }
