#technologies {
  background: linear-gradient(rgba(228, 23, 62, 0.4), rgba(228, 23, 62, 0.4)), url("../../images/tech-bcg.png") no-repeat;
  background-size: cover;
  height: max-content; }
  @media only screen and (max-width: 768px) {
    #technologies .title {
      font-size: x-large; } }
  @media screen and (min-width: 767px) {
    #technologies .technologies-wrapper {
      padding-bottom: 60px; } }
  @media screen and (max-width: 768px) {
    #technologies .technologies-wrapper {
      padding-bottom: 0; } }
  #technologies .technologies-wrapper .row-t {
    justify-content: center;
    display: flex;
    flex-wrap: row wrap;
    width: 100%; }
    @media only screen and (max-width: 768px) {
      #technologies .technologies-wrapper .row-t {
        position: relative; }
        #technologies .technologies-wrapper .row-t:nth-child(1) {
          top: 0px; }
        #technologies .technologies-wrapper .row-t:nth-child(2) {
          top: -20px; }
        #technologies .technologies-wrapper .row-t:nth-child(3) {
          top: -40px; }
        #technologies .technologies-wrapper .row-t:nth-child(4) {
          top: -60px; } }
    #technologies .technologies-wrapper .row-t .tech {
      overflow: hidden;
      margin: 0px 50px;
      width: 80px;
      height: 80px;
      transform: rotate(45deg); }
      #technologies .technologies-wrapper .row-t .tech img {
        filter: grayscale(80%);
        width: 150px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: translate(-50%, -50%) rotate(-45deg); }
      #technologies .technologies-wrapper .row-t .tech:hover img {
        transition: 0.3s;
        filter: grayscale(0%);
        width: 80px; }
      #technologies .technologies-wrapper .row-t .tech:not(:hover) img {
        transition: 0.3s;
        filter: grayscale(80%);
        width: 150px; }
      @media only screen and (max-width: 768px) {
        #technologies .technologies-wrapper .row-t .tech {
          width: 50px;
          height: 50px;
          margin: 15; } }
      @media only screen and (min-width: 425) {
        #technologies .technologies-wrapper .row-t .tech {
          width: 60px;
          height: 60px;
          margin: 25; } }
