#loading-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #161616; }
  #loading-modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; }

#welcome {
  overflow: hidden;
  position: relative;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: #161616; }
  #welcome #head {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    #welcome #head span {
      color: whitesmoke;
      font-weight: 200; }
    #welcome #head h1 {
      margin: 0 auto;
      color: #f1574d;
      font-size: 78px;
      font-weight: 300;
      font-family: "Muli", sans-serif;
      padding-bottom: 30px;
      position: relative; }
      @media only screen and (max-width: 768px) {
        #welcome #head h1 {
          font-size: 46px; } }
      #welcome #head h1:after {
        content: "";
        width: 400px;
        height: 1px;
        background-color: whitesmoke;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); }
        @media only screen and (max-width: 768px) {
          #welcome #head h1:after {
            width: 200px; } }
      #welcome #head h1:before {
        content: "";
        width: 15px;
        height: 15px;
        background-color: #161616;
        border: solid 1px #f1574d;
        z-index: 999;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transform: translateX(-50%) rotate(45deg);
        bottom: -7px; }
    #welcome #head h3 {
      margin-top: 30px;
      color: whitesmoke;
      font-size: 24px;
      font-weight: 300;
      font-family: "Muli", sans-serif; }
      @media only screen and (max-width: 768px) {
        #welcome #head h3 {
          font-size: 22px;
          margin-top: 15px; } }
  #welcome #in-icon {
    cursor: pointer;
    position: absolute;
    bottom: -30;
    left: 50%;
    transform: translateX(-50%); }
    #welcome #in-icon img {
      width: 180px; }
  #welcome #head, #welcome #in-icon {
    display: none; }
