@import 'variables.scss';
@import 'mixins.scss';

#about{
    height:auto;
    margin-bottom:40px;
    #about-wrapper{
        display:flex;
        #experience-body,#learn-body{
            width:50%;
            ul{
                @include clear-padding();
                list-style:none;
                width:400px;
                @include clear-margin();
                li{
                    position:relative;
                    border-left: solid $first-color;
                    padding-left: 20px;
                    &:before{
                        content:'';
                        border:solid 2px $first-color;
                        border-radius:50%;
                        width:15px;height:15px;
                        position: absolute;
                        left: -8.5;
                        background-color: white;
                    }
                    p{
                        @include clear-margin();
                        padding-bottom:10px;
                    }
                }
            }
        }   
    }
}