@import 'variables.scss';
@import 'mixins.scss';

#contact{
    background-color:white;
    padding-bottom:40px;
    #contact-wrapper{
        display:flex;
        flex-flow: row wrap;
        .contact-form,.contact-information{
            flex: 0 0 50% !important;
            @include respond-to(phones){
                flex: 0 0 100% !important;
            }
            .form-wrapper{
                .name{
                    @include custom-font($background-color,28px,600,$head-font);
                    @include clear-margin();
                    width:max-content;
                    padding-bottom:20px;
                }
                .info{
                    display:flex;
                    .text{
                        height:max-content;
                        position:relative;
                        left:10px;
                        top:12px;
                        font-size:17px
                    }
                    .icon{
                        width:50px;
                        height:50px;
                        background-color:$first-color;
                        border-radius:50%;
                        margin-bottom:10px;
                        i{
                            @include middle-position(relative);
                            color:white;
                        }
                    }
                }
                width:60%;
                @include respond-to(phones){
                    width:70%
                }
                margin:0 auto;
                form{
                    margin:0 auto;
                    .form-element{
                        position:relative;
                        .label{
                            @include custom-font(black,15px);
                            @include custom-position(relative,7px,initial,10,initial);
                            @include clear-padding("all");
                            background-color:white;
                        }
                        input,textarea,button{
                            margin:0 auto;
                            width:100%;
                            margin-bottom:20px;
                            padding:10px 10px;
                            @include reset-border();
                            @include default-border($first-color,1px,solid);
                            &:focus{
                                outline:none;
                            }
                        }
                        &:focus-within:after{
                            content:'';
                            width:99.9%;
                            @include default-border($first-color,1px,solid);
                            @include middle-bottom-position(20);
                            @include animation('showoutline',0.4s);
                            
                        }
                    }
                    
                    
                    button{
                        width:100%;
                        @include reset-border();
                        padding:20px;
                        background-color:white;
                        @include custom-font($first-color,24px,700,$head-font);
                    }
                }
            }
        }
        .contact-information{
            @include respond-to(phones){
                border-top:1px solid $first-color;
            }
        }
    }
}
