@import 'variables.scss';
@import 'mixins.scss';

#contact{
    background-color:(255,255,255,0.1);
    #contact-wrapper{
        display:flex;
        flex-flow: row wrap;
        .contact-information{
            background-color:$background-color;
            background: linear-gradient(rgba(22, 22, 22,0.9), rgba(22, 22, 22,0.9)), url("../../images/contact.jpg") no-repeat;
            background-size:cover;
            @include respond-to(phones){
                order:2
            }
        }
        .contact-form{
            @include respond-to(phones){
                order:1
            }
        }
        .contact-form,.contact-information{
            flex: 0 0 50% !important;
            position:relative;
            @include respond-to(phones){
                flex: 0 0 100% !important;
            }
            .form-wrapper{
                &:first-child{
                    padding: 50px 0px !important;
                }
                
                .form-title{
                    text-align:center;
                    margin:25px 0px;
                    @include custom-font($background-color,38px,300)
                }
                @include middle-position(relative);
                .info,.social{
                    margin:-0 auto;
                    display:table;
                    .usr{
                        padding-left:10px;
                        font-size:27px !important;
                    }
                    .usr,.phone,.mail{
                        padding-bottom:15px;
                        &:first-child{
                            padding-bottom:15px;
                        }
                        &:last-child{
                            padding-bottom:0px;
                        }
                        .content{
                            padding-left: 50px;
                            font-size:17px;
                            color:$first-color;
                            font-weight:400;
                        }
                        @include respond-to(phones){
                            font-size:14px;
                        }
                        @include custom-font(white,20px,200);
                        flex:0 0 100%;
                        span{
                            position: relative;
                            bottom: 2px;
                        }
                        i{
                            margin-right:10px;
                            padding:10px;
                            font-size:20px;
                        }
                    }
                    
                }
                .info{
                    padding-bottom:25px;
                    position:relative;
                    &:after{
                        content:"";
                        @include middle-bottom-position();
                        width:200px;
                        height:1px;
                        background-color:whitesmoke;
                    }
                }
                .social{
                    padding-top:25px;
                    display:flex;
                    justify-content:center;
                    a{  
                        position:relative;
                        transition:0.2s;
                        .mediax{
                            transition:0.2s;
                            @include respond-to(phones){
                                margin:0px 10px;
                            }
                            height:60px;
                            width:60px;
                            margin:0px 30px;
                            i{
                                
                            transition:0.2s;
                                color:#ccc;
                                @include middle-position(relative);
                                font-size:25px;
                                z-index:999;
                            }
                        }
                    }
                }
                form{
                    margin:0 auto;
                    width:70%;
                    .form-element{
                        position:relative;
                        .label{
                            @include custom-font($first-color,15px);
                            @include clear-padding("all");
                            background-color:white;
                        }
                        input,textarea,button{
                            background-color:whitesmoke;
                            margin:0 auto;
                            width:100%;
                            margin-bottom:20px;
                            padding:10px 10px;
                            @include reset-border();
                            
                            @include default-border(whitesmoke,2px,solid);
                            &:focus{
                                outline:none;
                            }
                        }
                        textarea {
                            resize: none;
                        }
                    }
                    button{
                        width:100%;
                        @include reset-border();
                        margin-bottom:45px;
                        padding:20px;
                        background-color:white;
                        @include custom-font($first-color,24px,700,$head-font);
                    }
                }
            }
        }
    }
}
