@import 'variables.scss';
@import 'mixins.scss';

#contact{
    border-bottom: solid 2px #e83a5c;
    background-image:url("../../images/about-bcg.png");
    background-color:(255,255,255,0.1);
    padding-bottom:30px;
    #contact-wrapper{
        display:flex;
        flex-flow: row wrap;
        .contact-form,.contact-information{
            position:relative;
            flex: 0 0 50% !important;
            @include respond-to(phones){
                flex: 0 0 100% !important;
            }
            .form-wrapper{
                .name{
                    @include custom-font($background-color,28px,600,$head-font);
                    @include clear-margin();
                    width:max-content;
                    padding-bottom:10px;
                }
                .info{
                    display:flex;
                    flex-flow:row wrap;
                    .phone,.mail{
                        @include respond-to(phones){
                            font-size:14px;
                        }
                        @include custom-font($background-color,17px,300);
                        flex:0 0 100%;
                        span{
                            position: relative;
                            bottom: 1.5px;
                        }
                        i{
                            margin-right:10px;
                            padding:10px;
                            font-size:20px;
                            border-right:solid 1px $first-color;
                        }
                    }
                    a{  
                        position:relative;
                        margin-bottom:15px;
                        flex: 0 0 33.33%;
                        height:80px;
                        transition:0.2s;
                        .mediax{
                            height:80px;
                            i{
                                @include middle-position(relative);
                                font-size:40px;
                                z-index:999;
                            }
                            &:hover{
                                color:white !important;
                            }
                            &:not(:hover){
                                color:inherit;
                            }
                        }
                    }
                    &:last-child{
                        padding-bottom: 20px;
                    }
                }
                width:60%;
                @include respond-to(phones){
                    width:70%
                }
                margin:0 auto;
                form{
                    margin:0 auto;
                    .form-element{
                        position:relative;
                        .label{
                            @include custom-font($first-color,15px);
                            @include custom-position(relative,7px,initial,10,initial);
                            @include clear-padding("all");
                            background-color:white;
                        }
                        input,textarea,button{
                            margin:0 auto;
                            width:100%;
                            margin-bottom:20px;
                            padding:10px 10px;
                            @include reset-border();
                            @include default-border($background-color,1px,solid);
                            &:focus{
                                outline:none;
                            }
                        }
                        textarea {
                            resize: none;
                        }
                    }
                    button{
                        width:100%;
                        @include reset-border();
                        padding:20px;
                        margin-bottom:20px;
                        background-color:white;
                        @include custom-font($first-color,24px,700,$head-font);
                    }
                }
            }
        }
    }
}
