@import 'variables.scss';
@import 'mixins.scss';

body{
    @include clear-margin();
    font-family: $head-font !important;
}
.title{
    @include title-font();
    @include respond-to(phones){
        font-size:xx-large;
    }

}
.section-header{
    @include title-font($background-color,30px);
    @include title-position(20px);
}
.white{
    color:white;
}
.bold{
    font-weight:600;
}
.separator{
    border: solid red 1px;
    transform: rotate(15deg);
    margin-left: 20px;
    @include respond-to(phones){
       display:none; 
    }
}

.input-outline{
    @include custom-position(absolute,null,20px,null,null);
    width:0%;
    height:1px;
    background-color:$first-color;
    z-index:999;
}
.background-oly{
    @include custom-position(absolute,null,0,null,null);
    width:100%;
    height:3%;
}
.warning-message{
    text-align:center;
    width:100%;
    @include clear-margin();
    @include custom-font(#da2000,15px,400);
    @include  middle-bottom-position(0px);
}
.correct-label{
    @include custom-position(absolute,10,null,null,-40);
    i{
        font-size:0px;
        color:#2fd64d;
    }
}