@import 'variables.scss';
@import 'mixins.scss';

#projects{
    padding-bottom: 132px;
    position:relative;
    background-color:$first-color;
    .projects-info{
        position: absolute;
        top: 115px;
        right: 40px;
        max-width:350px;
        background-color: rgba(0,0,0,0.7);
        padding: 15px;
        z-index:999;
        color: white;
        display:none;
    }
    .fa-info-circle{
        position: absolute;
        font-size: 60px;
        margin: 47px;
        color: white;
        right: 0;
        @include respond-to(phones){
            font-size:35px;
            margin:47px 15px;
        }
    }
    .title {
        @include respond-to(phones){
            font-size:xx-large;
        }
    }
    #projects-wrapper{
        .project-small{
            margin:15px 0px;
            height:200px;
            background-size:cover;
            background-repeat:no-repeat;
            background-position: center;
            @include respond-to(phones){

            }
            .info-overlay{
                overflow:hidden;
                position:relative;
                width:0%;
                height:100%;
                background-color:transparentize($color: white, $amount: 0.2);
                div{
                    width:80%;
                    @include middle-position(relative);
                    text-align:center;
                    @include custom-font(white,22px);
                    @include respond-to(phones){
                        font-size:16px;
                    }
                }
                i{
                    color:$first-color;
                    @include middle-position();
                    font-size:62px;
                    transform:translate(-50%,-50%) rotate(-30deg);
                    @include respond-to(phones){
                        font-size:28px;
                    }
                }
            }
            &:nth-child(2){
                flex: 0 0 66.6666%;
            }

        }
    }
}
