@import 'variables.scss';
@import 'mixins.scss';

#projects{
    background-color:$background-color;
    #projects-wrapper{
        width:100%;
        height:auto;
        display:flex;
        flex-wrap:wrap;
        .project-small{
            flex: 0 0 33.333%;
            height:23vw;
            background-size:cover;
            background-color:white;
            background-repeat:no-repeat;
            background-position: center;
            &.first{
                background-image: url("../../images/easyshopping.png");
                flex: 0 0 66.666%;
            }
            &.second{
                background-image: url("../../images/onlywins.png")
            }
            &.third{
                background-image: url("../../images/eat24.png")
            }
            &.fourth{
                background-image: url("../../images/mwatr.png")
            }
            &.fifth{
                background-image: url("../../images/portfolio.png")
            }

        }
    }
}
