@import 'variables.scss';
@import 'mixins.scss';

#technologies{
    background: linear-gradient(rgba(228, 23, 62, 0.4), rgba(228, 23, 62, 0.4)), url("../../images/tech-bcg.png") no-repeat;
    background-size:cover;
    height:max-content;
    .technologies-wrapper{
        margin:60px 200px;
        .row{
            justify-content:center;
            display:flex;
            flex-wrap: row wrap;
            width:100%;
            .tech{
                img{
                    filter: grayscale(100%);
                    width:150px;
                    @include middle-position(relative);
                    transform:translate(-50%, -50%) rotate(-45deg) ;
                    
                }
                &:hover{
                    img{
                        transition:0.2s;
                        filter: grayscale(0%)
                    }
                }
                overflow:hidden;
                margin:0px 50px;
                width:100px;height:100px;
                transform:rotate(45deg);
                @include default-border(transparentize($background-color, 0.3) ,3px,solid)
            }           
       }
    }

}