@import 'variables.scss';
@import 'mixins.scss';

#technologies{
    background: linear-gradient(rgba(61, 76, 104,0.4), rgba(61, 76, 104,0.4)), url("../../images/tech-bcg.png") no-repeat;
    background-size:cover;
    height:max-content;
    .title {
        @include respond-to(phones){
            font-size:x-large;
        }
    }
    .technologies-wrapper{
        @media screen and (min-width:767px){
            padding-bottom: 120px;
            padding-top: 40px;
        }
        @media screen and (max-width:768px){
            padding-bottom:0;
        }
        
        .row-t{
            justify-content:center;
            display:flex;
            flex-wrap: row wrap;
            width:100%;
            @include respond-to(phones){
                position:relative;
                $temp-var:0px;
                @for $i from 1 through 4{
                    &:nth-child(#{$i}){
                        top:$temp-var;
                    }
                    $temp-var : $temp-var - 20px;
                }
            }
            .tech{
                img{
                    filter: grayscale(80%);
                    @include middle-position(relative);
                    transform:translate(-50%, -50%) rotate(-45deg) ;
                    
                }
                &:hover{
                    img{
                        transition:0.3s;
                        filter: grayscale(0%);
                        width:100%;
                        @include respond-to(phones){
                            width:100%;
                        }
                    }
                }
                &:not(:hover){
                    img{
                        transition:0.3s;
                        filter: grayscale(80%);
                        width:120px;
                        @include respond-to(phones){
                            width:80px;
                        }
                    }
                }
                @include respond-to(phones){
                    width:50px;height:50px; 
                    margin:15;  
                }
                @include respond-to(tablets){
                    width:60px;height:60px; 
                    margin:25;  
                }
                overflow:hidden;
                margin:0px 50px;
                width:80px;height:80px;
                transform:rotate(45deg);
            }   
            .tech-name{
                width:100%;
                @include custom-position(absolute,null,0,null,0);
                @include custom-font(white,inherit);
                height:max-content;
                text-align:center;
                background-color:transparentize($first-color,0.2);
                cursor: context-menu;
                display:none;
                @include respond-to(phones){
                    height:auto;
                    @include custom-font(white,10px);
                }
            }
       &:first-child{
            padding-top:20px;
       }
       &:last-child{
            padding-bottom:20px;
       }
       }
    }
}