@import 'variables.scss';
@import 'mixins.scss';

#welcome{
    overflow:hidden;
    position:relative;
    z-index:9999;
    @include full-size();
    background-color:$background-color;
    #head{
        width:90%;
        @include middle-position();
        text-align:center;
        span{color:#cccccc; font-weight:200;}
        h1{
            @include clear-margin();
            @include custom-font($first-color,78px,300,$head-font);
            @include respond-to(phones){
                font-size:46px;
            }
        }
        h3{
            @include custom-font(white,24px,300,$head-font);
            @include respond-to(phones){
                font-size:22px;
                margin-top:15px;
            }
        }
    }
    #in-icon{
        cursor:pointer;
        @include middle-bottom-position(0);
        i{
            @include respond-to(phones){
                font-size:82px;
            }
            @include custom-font($first-color,80px);
            &:first-child{
                @include middle-bottom-position(18);
                color:white;
                @include respond-to(phones){
                    @include middle-bottom-position(16);
                }
            }
        }
    }
}