@import 'variables.scss';
@import 'mixins.scss';

#loading-modal{
    @include middle-position();
    display:block;
    z-index:999;
    width:100%;height:100%;
    background-color:$background-color;
    img{
        @include middle-position();
        width:100px;
    }
}
#welcome{
    overflow:hidden;
    position:relative;
    z-index:998;
    @include full-size();
    background-color:$background-color;
    #head{
        width:90%;
        @include middle-position();
        text-align:center;
        span{color:whitesmoke; font-weight:200;}
        h1{
            @include clear-margin();
            @include custom-font($first-color,78px,300,$head-font);
            @include respond-to(phones){
                font-size:46px;
            }
            padding-bottom:30px;
            position:relative;
            
            &:after{
                content:"";
                width:400px;height:1px;
                @include respond-to(phones){
                    width:200px
                }
                background-color:whitesmoke;
                @include middle-bottom-position();
            }
            &:before{
                content:"";
                width:15px;height:15px;
                background-color:$background-color;
                border:solid 1px $first-color;
                z-index:999;
                @include middle-bottom-position();
                transform:translateX(-50%) rotate(45deg);
                bottom:-7px;
            }
        }
        h3{
            margin-top:30px;
            @include custom-font(whitesmoke,24px,300,$head-font);
            @include respond-to(phones){
                font-size:22px;
                margin-top:15px;
            }
        }
    }
    #in-icon{
        cursor:pointer;
        @include middle-bottom-position(-30);
        img{
            width:180px;
        }
    }
    #head,#in-icon{
        display:none;
    }
}